  @use "../abstract/constants" as c;
  @use "../abstract/utility-theme" as theme;
  @use "theme-light" as light;
  @use "theme-dark" as dark;
  @use "theme-pastel" as pastel;

  :root {
    @include theme.export-theme(light.$theme-light);
  }

  [data-theme="dark"] {
    @include theme.export-theme(dark.$theme-dark);
  }

  [data-theme="pastel"] {
    @include theme.export-theme(pastel.$theme-pastel);
  }

.theme-list {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: c.$space-s;
  z-index: 10;

  list-style: none;
  padding: 0;
  color: c.$color-orange-primary;
  border: 1px solid var(--border);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease;
}

.theme-list.hidden {
  display: none;
}

.theme-list li {
  padding: c.$space-s;
  cursor: pointer;
}

