@use "../components/mixin";
@use "../abstract/constants" as c;

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: c.$color-content-footer-background;
}

.header__wrapper {
  margin: 0 auto;
  padding: 0;
  padding-inline: c.$space-xl;
  width: 100%;
  height: 100%;
  max-width: c.$container-header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixin.media-small-tablet {
    flex: 0 0 100%;
    padding-top: c.$space-m;
  }
}
