@use "../components/mixin";
@use "../abstract/constants";

.cards {
  display: flex;
  justify-content: center;

  padding-bottom: constants.$space-xxl;
}

.card__wrapper {
  position: relative;
  max-width: 1053px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: constants.$space-xl;
  gap: constants.$space-l;
  transition: filter 0.3s ease-in-out;

  @include mixin.media-small-tablet {
    gap: 0;
    margin-bottom: constants.$space-m;
  }
}

.modal.active ~ .card__wrapper {
  filter: blur(8px);
}

.card__item {
  background: constants.$color-content-background;
  cursor: pointer;
  flex: 0 1 auto;
  margin: constants.$space-s;
}

.card__img {
  object-fit: cover;
  width: 310px;
  height: 342px;
}

@include mixin.media-small-tablet {
  .card__img {
    width: 347px;
    align-items: center;
  }
}

@include mixin.media-mobile {
  .card__img {
    height: 180px;
  }
}
