@use "../components/mixin";
@use "../abstract/constants" as c;
@use "../abstract/utility-theme" as theme;

.cards {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-block-end: c.$space-xxl;
  @include theme.themed(background-color, color-bg);
  display: flex;
  justify-content: center;
}

.card__wrapper {
  margin: 0;
  padding: 0;
  margin-top: c.$space-xl;
  gap: c.$space-l;
  max-width: c.$card-wrapper-max;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: none;
  transition: filter 0.3s ease-in-out;

  @include mixin.media-small-tablet {
    gap: 0;
    margin-bottom: c.$space-m;
  }
}

.modal.active ~ .card__wrapper {
  filter: blur(c.$blur-on-modal);
}

.card__item {
  margin: c.$space-s;
  padding: 0;
  flex: 0 1 auto;
  cursor: pointer;
  box-shadow: var(--shadow-elevation, none);
}

.card__img {
  margin: 0;
  padding: 0;
  width: c.$card-img-width;
  height: c.$card-img-height;
  object-fit: cover;

  @include mixin.media-small-tablet {
    width: c.$card-img-width-small;
    align-items: center;
  }

  @include mixin.media-mobile {
    height: c.$card-img-height-mobile;
  }
}
