@use "../abstract/placeholder";
@use "../abstract/constants" as c;
@use "../components/mixin";

.modal {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateY(-20px) scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  @extend %transition;

  &.active {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.modal__overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  margin: 0;
  padding: 0;
  width: c.$modal-width;
  height: c.$modal-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__img-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

.modal__img {
  margin: 0;
  padding: 0;
  width: c.$modal-img-width;
  height: c.$modal-img-height;
  object-fit: cover;
  @extend %transition;

  @include mixin.media-small-laptop {
    width: c.$modal-img-width-small-laptop;
    height: c.$modal-img-height-small-laptop;
  }

  @include mixin.media-tablet {
    width: c.$modal-img-width-tablet;
    height: c.$modal-img-height-tablet;
  }

  @include mixin.media-mobile-large {
    width: c.$modal-img-width-mobile-large;
    height: c.$modal-img-height-mobile-large;
  }

  @include mixin.media-mobile {
    width: c.$modal-img-width-mobile;
  }
}

.modal__close {
  margin: 0;
  padding: 0;
  width: c.$close-btn-size;
  height: c.$close-btn-size;
  position: absolute;
  top: c.$space-s;
  right: c.$space-s;
  border: none;
  background: url('/task/src/img/cross.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.modal.active ~ .card__wrapper {
  margin: 0;
  padding: 0;
  filter: blur(c.$blur-on-modal);
  @extend %transition;
}

.modal__prev,
.modal__next {
  margin: 0;
  padding: c.$space-m;
  width: c.$arrow-width-default;
  height: c.$arrow-height-default;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  background-size: contain;
  cursor: pointer;
  @extend %transition;

  @include mixin.media-tablet {
    width: c.$arrow-size-responsive;
    height: c.$arrow-size-responsive;
  }

  @include mixin.media-mobile-large {
    width: c.$arrow-size-responsive;
    height: c.$arrow-size-responsive;
  }
}

.modal__prev {
  left: c.$space-s;
  background-image: url('/task/src/img/prev.svg');
}

.modal__next {
  right: c.$space-s;
  background-image: url('/task/src/img/next.svg');
}
