@use "../abstract/constants" as c;
@use "../components/mixin";
@use "../abstract/utility-theme" as theme;

.search {
  margin: 0;
  padding: 0;
  padding-block: c.$space-xxl;
  @include theme.themed(background-color, color-bg);

  @include mixin.media-small-tablet {
    padding-bottom: c.$space-xl;
  }

  @include mixin.media-mobile {
    padding-bottom: c.$space-xl;
  }
}

.search__text {
  margin: 0;
  margin-top: 0;
  margin-bottom: c.$space-xxl;
  text-align: center;
  @include theme.themed(color, color-search-text);

  @include mixin.media-tablet {
    font-size: 4.2rem;
  }

  @include mixin.media-mobile {
    font-size: 2.4rem;
  }
}

.search__text--unique {
  color: c.$color-orange-primary;
}

.search__input {
  width: 100%;
  padding: c.$space-l 0 c.$space-l c.$space-m;
  @include theme.themed(color, color-search-bar-text);
}

.search__wrapper {
  margin: 0 auto;
  padding: 0;
  padding-top: c.$space-xxl;
  max-width: c.$search-wrapper-max;
  max-height: c.$search-wrapper-max-height;
  height: 100%;

  @include mixin.media-tablet {
    max-width: 90%;
  }
}

.search__btn {
  all: unset;
}

.search__img {
  margin: c.$space-m;
  cursor: pointer;
}

.search__bar {
  margin: 0;
  margin-top: c.$space-l;
  padding: 0;
  border-radius: c.$border-radius-search;
  height: 100%;
  min-height: c.$search-min-height;
  max-width: c.$search-wrapper-max;
  display: flex;
  justify-content: space-between;
  @include theme.themed(background-color, color-bg-search-bar);
}

.search__input.invalid {
  background: c.$color-error-bg;
  border: 2px solid c.$color-error;
}
