@use "../abstract/constants";
@use "../components/mixin";
@use "../abstract/utility-theme" as theme;

.search {

  @include theme.themed(background-color, color-bg);

  padding-block: constants.$space-xxl;

  @include mixin.media-small-tablet {
    padding-bottom: constants.$space-xl;
  }

  @include mixin.media-mobile {
    padding-bottom: constants.$space-xl;
  }
}

.search__text {
  @include theme.themed(color, color-search-text);

  margin-top: 0;
  margin-bottom: constants.$space-xxl;
  text-align: center;

  @include mixin.media-tablet {
    font-size: 4.2rem;
  }

  @include mixin.media-mobile {
    font-size: 2.4rem;
  }
}

.search__text--unique {
  color: constants.$color-orange-primary;
}

.search__input {
  width: 100%;
  padding: constants.$space-l 0 constants.$space-l constants.$space-m;

  @include theme.themed(color, color-search-bar-text);
}

.search__wrapper {
  max-width: 762px;
  height: 100%;
  max-height: 296px;
  margin: 0 auto;
  padding-top: constants.$space-xxl;

  @include mixin.media-tablet {
    max-width: 90%;
  }
}

.search__btn {
  all: unset;
}

.search__img {
  margin: constants.$space-m;
  cursor: pointer;
}

.search__bar {
  @include theme.themed(background-color, color-bg-search-bar);

  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 64px;
  max-width: 762px;
  margin-top: constants.$space-l;
  border-radius: 16px;
}

