@use "../abstract/constants";
@use "../components/mixin";

.footer {
  width: 100%;
  margin-top: constants.$space-xxl;
  padding: constants.$space-m 0;

  background: linear-gradient(to right, constants.$color-content-footer-background);

  @include mixin.media-mobile-large {
    padding: constants.$space-xl 0;
  }

  @include mixin.media-mobile {
    margin-top: 0;
  }
}

.footer__wrapper {
  width: 100%;
  max-width: 1250px;
  padding: constants.$space-xxl 0;
  margin-left: constants.$space-xxl;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @include mixin.media-small-tablet {
    padding: 0;
    flex-wrap: wrap;
  }

  @include mixin.media-small-laptop {
    flex-wrap: wrap;
  }

  @include mixin.media-mobile-large {
    margin-left: constants.$space-xl
  }
}

.footer__info {
  max-width: 340px;
  margin-right: constants.$space-xxl;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-items: flex-start;
  text-align: left;

  @include mixin.media-small-laptop {
    margin-bottom: constants.$space-l;
    flex: 1 1 100%;
  }
}

.footer__column {
  min-width: 339px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @include mixin.media-laptop {
    flex-wrap: wrap;
  }

  @include mixin.media-tablet {
    align-items: flex-start;
  }

  @include mixin.media-mobile-large {
    display: block;
  }
}

.footer__title {
  margin-bottom: constants.$space-l;

  @include mixin.media-mobile-large {
    display: inline;
  }
}

.footer__list {
  margin-bottom: constants.$space-l;
}

.footer__text-list {
  padding-right: constants.$space-xxl;
  margin-bottom: constants.$space-l;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  @include mixin.media-small-laptop {
    margin-bottom: constants.$space-l;
    padding-right: constants.$space-xl;
  }

  &:first-child {
    max-width: 267px;
    justify-content: flex-start;
  }

  @include mixin.media-mobile-large {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mixin.media-small-laptop {
    min-width: 200px;
    margin-bottom: constants.$space-l;
    flex: 1 1 auto;
  }
}

.footer__icon {
  margin-right: constants.$space-m;
}

.footer__extra {
  padding: constants.$space-xl 0 constants.$space-xl constants.$space-xxl;
  text-align: left;

  @include mixin.media-mobile-large {
    padding: constants.$space-xxl 0 0 constants.$space-l;
    text-align: center;
  }
}
