@use "../abstract/constants" as c;
@use "../components/mixin";

.footer {
  margin: 0;
  padding: 0;
  padding-block: c.$space-xxl;
  width: 100%;
  background: c.$color-content-footer-background;

  @include mixin.media-mobile-large {
    padding: c.$space-xl 0;
  }

  @include mixin.media-mobile {
    margin-top: 0;
  }
}

.footer__wrapper {
  margin: 0;
  margin-left: c.$space-xxl;
  padding: c.$space-xxl 0;
  width: 100%;
  max-width: c.$footer-wrapper-max;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @include mixin.media-small-tablet {
    padding: 0;
    flex-wrap: wrap;
  }

  @include mixin.media-small-laptop {
    flex-wrap: wrap;
  }

  @include mixin.media-mobile-large {
    margin-left: c.$space-xl;
  }
}

.footer__info {
  margin: 0;
  margin-right: c.$space-xxl;
  max-width: c.$footer-info-max;
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  @include mixin.media-small-laptop {
    margin-bottom: c.$space-l;
    flex: 1 1 100%;
  }
}

.footer__column {
  margin: 0;
  min-width: c.$footer-column-min;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;

  @include mixin.media-laptop {
    flex-wrap: wrap;
  }

  @include mixin.media-tablet {
    align-items: flex-start;
  }

  @include mixin.media-mobile-large {
    display: block;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: c.$space-l;

  @include mixin.media-mobile-large {
    display: inline;
  }
}

.footer__list {
  margin: 0;
  margin-bottom: c.$space-l;
}

.footer__text-list {
  margin: 0;
  margin-bottom: c.$space-l;
  padding: 0;
  padding-right: c.$space-xxl;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mixin.media-small-laptop {
    margin-bottom: c.$space-l;
    padding-right: c.$space-xl;
  }

  &:first-child {
    max-width: c.$footer-text-list-first-max;
    justify-content: flex-start;
  }

  @include mixin.media-mobile-large {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mixin.media-small-laptop {
    min-width: c.$footer-text-list-min;
    margin-bottom: c.$space-l;
    flex: 1 1 auto;
  }
}

.footer__icon {
  margin: 0;
  margin-right: c.$space-m;
}

.footer__extra {
  margin: 0;
  padding: c.$space-xl 0 c.$space-xl c.$space-xxl;
  text-align: left;

  @include mixin.media-mobile-large {
    padding: c.$space-xxl 0 0 c.$space-l;
    text-align: center;
  }
}
